$link-color: #00A0D2;
$content-width: 100rem;

.btn-github {
  color: #ffffff !important;
  background-color: #000000 !important;
}

.btn-release {
  color: #88D66C !important;
  background-color: #000000 !important;
}

.btn-5gms {
  color: #000000 !important;
  background-color: #FFC000 !important;
}
.btn-5gcsc {
  color: #ffffff !important;
  background-color: #FF0000 !important;
}
.btn-uedc {
  color: #ffffff !important;
  background-color: #D17F79 !important;
}
.btn-5gbc {
  color: #ffffff !important;
  background-color: #70AD47 !important;
}
.btn-5gbcea {
  color: #ffffff !important;
  background-color: #7030A0 !important;
}
.btn-5mbs {
  color: #ffffff !important;
  background-color: #1AB39F !important;
}
.btn-xr {
  color: #ffffff !important;
  background-color: #ED7D31 !important;
}
.btn-v3c {
  color: #ffffff !important;
  background-color: #CC3399 !important;
}
.btn-b2d {
  color: #ffffff !important;
  background-color: #90A008!important;
}
.btn-aiml {
  color: #ffffff !important;
  background-color: #01A002 !important;
}
.btn-md {
  color: #ffffff !important;
  background-color: #385723 !important;
}
.btn-dvbi {
  color: #ffffff !important;
  background-color: #002060 !important;
}
.btn-3gpp {
  color: #ffffff !important;
  background-color: #0070C0 !important;
}
.btn-common {
  color: #000000 !important;
  background-color: #BFBFBF !important;
}
